/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #16213e;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f1b2d;
}

::-webkit-scrollbar-thumb {
    background: #2f3f5f;
    border-radius: 2px;
}
